<h2><%= link_to t(:label_license_plural), licenses_path %> &#187; <%= link_to @license.name, @license %> &#187; <%= t(:label_license_version_new) %></h2>

<%= render :partial => 'form' %>

<% html_title t(:label_license_version_new) %>
